In [1]:
class employee:
    
    
    def associate(self,email):
        print(email)
        
        print("Basic") 
        
        
    def senior(self,fname):
        print(fname)
        print("Intermediate")
        
    def L1(self):
        print("Premium")

In [2]:
N123 = employee()


#employee.associate(N123)
#employee.senior(N234)

N123.associate("ABC@GNMAIL.COM")

ABC@GNMAIL.COM
Basic

In [3]:
N234 = employee()
N234.senior("SAM")

SAM
Intermediate

In [4]:
print(type(a))

NameError: name 'a' is not defined

In [ ]:
employee.config(emp1)

In [ ]:
emp1 = employee()
emp2 = employee()
emp3 = employee()
emp1.config()
emp2.config2()

In [ ]:
#employee.config()
employee.config(emp1)

In [ ]:
print(type(emp1))

In [ ]:
n = 5
a = "abc"

print(type(a))

In [ ]:
a = [ "sreeja",34,43]

print(type(a))
a.append(5)
a

In [ ]:
emp1.config()
emp2.config()

In [ ]:
class employee:
    
    def config(self):
        print("Sreeja,Data Analyst,Kochi")     

e1 = employee()
e2 = employee()

e1.config()

employee.config(e1)

In [ ]:
emp1.config()

In [ ]:
emp2.config()

### Constuctor

In [ ]:
class customer:
    
    def __init__(self):
        #print("Normal Users")
        print("CHAT")
        self.e=input("enter email:")
        self.ps=input("enter password:")
        self.ph= input("enter phone:")
      
    def display(self):
        print("email:", self.e)
        print("phone:",self.ph)
        
    def SP(self):
       # print("Silver Plan")
        print("voice call")
        
    def GP(self):
       # print("Gold Plan")
        
        print("voice call")
        print("video call")

In [ ]:
C1= customer()

In [ ]:
C1.SP()

In [ ]:
class employee:
    
    def __init__(self,a,b):
        self.name = a
        self.title = b
        print(a,b)
        pass

    def name1(self):
        
        print("employee name:",self.name)
        
    def desgn(self):
         print("employee designation:",self.title)
            

        
emp1  =  employee("Ann","DA")
emp2  =  employee("Sruthy","seo")

emp1.name1()
emp1.desgn()

emp2.desgn()

In [ ]:
a = 4
print(id(a))

In [ ]:
c=a
print(id(a))

In [ ]:
b = 5
print(id(b))

### Memory allocation

In [ ]:
class employee:
    pass

In [ ]:
a= employee()
c= employee()

In [ ]:
print(type(a))

In [ ]:
print(type(c))

In [ ]:
b=a

In [ ]:
print(type(b))

In [ ]:
print(id(a))

In [ ]:
print(id(b))

In [ ]:
print(id(c))

In [ ]:
class employee:
    pass

        
emp1 = employee()
emp2 = employee()

print(id(emp1))
print(id(emp2))

#emp1.config()

#emp2.config()

In [ ]:
class employee:
    def config(self):
        print("Sreeja,Data Analyst,Cochi")      
        
        
emp1 = employee()
emp2 = employee()


print(id(emp1))
print(id(emp2))

### Need of self

In [ ]:
class employee:
    def __init__(self):
        self.a = input("name:")
        self.b = input("des:")
   
    def display(self):
        print("name&des:",self.a,self.b)
        
    def compare(self,other):
        if self.a.lower()==other.a.lower() and self.b.lower()==other.b.lower():
            print("same")
            
        else:
            print("different")

In [ ]:
emp1 = employee()
emp2 = employee()

In [ ]:
emp1.compare(emp2)

In [ ]:
class employee:
    def __init__(self):
        self.name = "Sreeja"
        self.age = 25
        
    def update(self):
        self.age = 28

emp1 = employee()
emp2 = employee()

#emp1.name = "Sruthy"

emp2.update()
print(emp1.name, emp1.age)
print(emp2.name, emp2.age)

In [ ]:
class employee:
    def __init__(self):
        self.school = "Techmindz"
        self.location = "Kochi"
   
    def config(self):
        print("school:",self.school,self.location)
        
    def update(self):
        self.location = "Tvm"
        #print("school:",self.school,self.location)
        
    def compare(self,other):
        if self.location==other.location:
            return True
        

emp1 = employee()
emp2 = employee()
emp3 = employee()

#emp1.config()
#emp2.config()

emp3.update()
#emp3.config()

if emp1.compare(emp3):
    print("Same location")
else:
    print("diff location")

In [ ]:
a= 5
b=5

if a== b:
    print("same")

In [ ]:
class employee:
    def __init__(self):
        self.name = "Sreeja"
        self.age = 25
    # def update(self):
    #    self.age = 28
    
emp1 = employee()
emp2 = employee()

if emp1 == emp2:
    print("they are same")

In [ ]:
class employee:
    def __init__(self):
        self.name = "Sreeja"
        self.age = 25
    def update(self):
        self.age = 28

emp1 = employee()
emp2 = employee()

if emp1.compare(emp2) :
    print("they are same")

In [ ]:
class employee:
    def __init__(self):
        self.name = "Sreeja"
        self.age = 25
    def update(self):
        self.age = 28
        
    def compare(self,other):
        if self.age == other.age:
            return True
        else:
            return False


emp1 = employee()
emp2 = employee()

emp2.update()

#print(emp1.name, emp1.age)
#print(emp2.name, emp2.age)

if emp1.compare(emp2):
    print("they are same")
else:
    print("they are different")

In [ ]:
class employee:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def compare(self,emp):
        if self.age == emp.age:
            return True
        else:
            return False


emp1 = employee("Sreeja",25)
#emp1.age = 28
emp2 = employee("Sruthy", 21)

if emp1.compare(emp2):
    print("they are same")
else:
    print("they are different")

In [ ]:
"sreeja"+"P R"

### Variable types

#### Instance variable : Create a variable inside init
#### Class(static) variable : Create a variable outside init and inside a class

In [ ]:
class animal():
    kingdom = "Animalia" # Class variable  
    print(kingdom)
    
    def human(self):
        Class = "mammals" # Local variable
        return Class
        
    def snake(self):
        Class =  "reptiles"
        return Class
        

    def birds(self):
        Class =  "Birds"
        return Class

In [ ]:
print(animal.kingdom)
a = animal()
a.human()

In [ ]:
b = animal()
b.birds()

In [ ]:
class employee:
    
        company="Techmindz"
        
        def __init__(self,name,des):
            self.location ="Kochi"
            self.name = name
            self.des = des        
        def associate(self):
            leaves=10
            return(leaves)
        def senior(self):
            leaves=13
            return(leaves)
        def manager(self):
            leaves=15
            return(leaves)
                   
                   
        def display(self):
            return self.name,self.des,self.location

In [ ]:
print(employee.company)

In [ ]:
a = input("Name:")
b = input("Designation:")

e1= employee(a,b)

In [ ]:
e1.senior()

In [ ]:
e1.name

In [ ]:
class car:
    
    def __init__(self):
        self.mile = 10
        self.company = "BMW"
        
c1 = car()
c2 = car()

c1.mile = 8
c2.company = "TATA"
print(c1.company, c1.mile)
print(c2.company,c2.mile)

In [ ]:
class car:
    wheels = 4
    def __init__(self):
        self.mile = 10
        self.company = "BMW"
    
        
c1 = car()
c2 = car()

c2.mile = 8


print(c1.company, c1.mile, car.wheels)
print(c2.company,c2.mile,c1.wheels)
car.wheels = 5

print(c2.company,c2.mile,c1.wheels)

In [ ]:
class car:
    
    wheels = 4
    def __init__(self):
        self.mile = 10
        self.company = "BMW"
        
c1 = car()
c2 = car()

car.wheels = 5

print(c1.company, c1.mile, car.wheels)
print(c2.company,c2.mile,car.wheels)

In [ ]:
class car:
    wheels = 4
    def __init__(self):
        self.mile = 10
        self.company = "BMW"
        
c1 = car()
c2 = car()

car.wheels = 5

print(c1.company, c1.mile, car.wheels)
print(c2.company,c2.mile,car.wheels)

### Method Types
#### Instance method: it works with objects
         Accessors methods: If we are only fetching the value using a method
         
         Mutators methods: If we want to modify the value using a method

In [ ]:
class students:
    school = "techmindz" 

    def __init__(self,m1,m2,m3):
        self.m1 = m1
        self.m2 = m2
        self.m3 = m3
    
    def get_mark(self): # Accessors methods
        return( "assessment1:",self.m1,"assessment2:",self.m2,"assessment3:",self.m3)
   
    def set_mark1(self,a): # Mutators methods
        self.m1=a
    def set_mark2(self,a): # Mutators methods
        self.m2=a
    def set_mark3(self,a): # Mutators methods
        self.m3=a
    
    def sum_mark(self):
        return(self.m1+self.m2+self.m3)
    
    def avg(self):
         return (self.sum_mark()/3)

In [ ]:
s1=students(18,9,15)
s1.get_mark()
s1.set_mark2(14)
s1.get_mark()

In [ ]:
s1.sum_mark()

In [ ]:
s1.avg()

In [ ]:
class students:
    school = "techmindz"
    def __init__(self,m1,m2,m3):
        self.m1 = m1
        self.m2 = m2
        self.m3 = m3

    def avg(self):
        return (self.m1+self.m2+self.m3)/3
    
    def get_mark(self):                      # Accessors Method 
        return self.m1 , self.m2, self.m3
    
    def set_mark1(self, value):              # Mutators Method 
        self.m1 = value
    def set_mark2(self, value):              # Mutators Method 
        self.m2 = value
    def set_mark3(self, value):              # Mutators Method 
        self.m3 = value
    
s1 = students(12,34,56)
s2 = students(34,45,32)


s1.set_mark1(50)
#s2.set_mark3(40)
s1.get_mark()

#### Class method

In [ ]:
class students:
    school = "techmindz"
    location = "kochi"
    def __init__(self,id_num):
        self.id=id_num
        
    def display(self):
        return self.id,self.location
    
    
    @classmethod
    def get_info(cls):
        return cls.school,cls.location
   
    @classmethod
    def loc_chg(cls,a):
        cls.location = a

In [ ]:
s1= students("1234")
s1.display()

In [ ]:
students.loc_chg("Tvm")
students.get_info()

In [ ]:
class students:
    school = "techmindz"
    location = "kochi"
    def __init__(self,m1,m2,m3):
        self.m1 = m1
        self.m2 = m2
        self.m3 = m3

    def get_school(self):
        return self.school,self.location # (self.m1+self.m2+self.m3)/3
    
 
    @classmethod
    def get_school_details(cls):
         return cls.school, cls.location
   
    @classmethod
    def change_loc(cls,a):
        cls.location=a

        
    
students.change_loc("Tvm")   
print(students.get_school_details())  
s1 = students(12,34,56)
#s2 = students(34,45,32)


print(s1.get_school())
#print(s2.get_school())
#print(students.get_school_details())

#### Static method

In [ ]:
class students:
    school = "techmindz"
    location = "kochi"
    
    def __init__(self,m1,m2,m3):
        self.m1 = m1
        self.m2 = m2
        self.m3 = m3

    def avg(self):
        return (self.m1+self.m2+self.m3)/3
    
    @classmethod
    def get_school_details(cls):
        return cls.school
    
    @staticmethod
    def info():
         return "Welcome to Techmindz"
    

    
students.info()


#s1 = students(12,34,56)

#s2 = students(34,45,32)

#print(s1.avg())
#print(s2.avg())

#print(students.get_school_details())

## Inner Class

In [ ]:
class students:
    school = "techmindz"
    location = "kochi"
    
    def __init__(self,name,rollno):
        self.name = name
        self.rollno = rollno

        
        
s1 = students("Sreeja",34)
s2 = students("Sruthy",32)

print(s1.name,s1.rollno)
print(s2.name,s2.rollno)

In [ ]:
class students:
    school = "techmindz"
    location = "kochi"
    
    def __init__(self,name,rollno,brand):
        self.name = name
        self.rollno = rollno
        self.lap = brand

    def show(self):
        print(self.name, self.rollno,self.lap)
        
        
s1 = students("Sreeja",34,"hp")
s2 = students("Sruthy",32,"lenovo")

s1.show()
s2.show()

In [ ]:
   
class students:
    school = "techmindz"
    location = "kochi"
    
    def __init__(self,name,rollno):
        self.name = name
        self.rollno = rollno
        self.lap = self.laptop()

    def show(self):
        return(self.name,self.rollno,self.lap.display())
        
   
    class laptop:
        def __init__(self):
            self.brand = "hp"
            self.cpu = "i5"
        def display(self):
            return (self.brand,self.cpu)

In [ ]:
            
s1 = students("sreeja",32)
s2 = students("sruthy",45)


s1.show()
s2.show()

In [ ]:
class students:
    school = "techmindz"
    location = "kochi"
    
    def __init__(self,name,rollno):
        self.name = name
        self.rollno = rollno
        self.lap = self.laptop() 
    def show(self):
        print(self.name, self.rollno)
        self.lap.show()
        
    class laptop:
        def __init__(self):
            self.brand = "HP"
        def show(self):
            print(self.brand)
    
s1= students("Sruthy",123)

s1.show()

In [ ]:
class students:
    school = "techmindz"
    location = "kochi"
    
    def __init__(self,name,rollno):
        self.name = name
        self.rollno = rollno
        self.lap = self.laptop()

    def show(self):
        print(self.name, self.rollno)
        self.lap.show1()   
   
    class laptop:
        def __init__(self):
            self.brand = "hp"
            self.cpu = "i5"      
        def show1(self):
            print(self.brand, self.cpu)
            
s1 = students("sreeja",32)
s2 = students("sruthy",45)


s1.show()
s2.show()

### Inheritance

In [ ]:
A 
|
B

In [ ]:
class A:  
    def feature1(self):
        print ("feature1 is working")
        
    def feature2(self):
        print ("feature2 is working")
        
class B(A):  
     def feature3(self):
        print ("feature3 is working")
    
     def feature4(self):
        print ("feature4 is working")

In [ ]:
a1= A()
b1 = B()
a1.feature3()

In [ ]:
class A:   # parent class/ super class
    def feature1(self):
        print ("feature1 is working")
        
    def feature2(self):
        print ("feature2 is working")

        
        
class B(A):  # child class/ sub class
    def feature3(self):
        print ("feature3 is working")
        
    def feature4(self):
        print ("feature4 is working")

    
        
a1 = A()
b1 = B()

a1.feature1()
b1.feature1()
b1.feature3()
b1.feature4()

### Multi level Inheritance

In [ ]:
A
|
B
|
C

In [ ]:
class A:
    def feature1(self):
        print ("feature1 is working")
        
    def feature2(self):
        print ("feature2 is working")

        
        
class B(A):
    def feature3(self):
        print ("feature3 is working")
        
    def feature4(self):
        print ("feature4 is working")

        
class C(B):
    
    def feature5(self):
        print ("feature5 is working")



a1 = A()
b1 = B()
c1 = C()
c1.feature1()
c1.feature3()
c1.feature5()

In [ ]:
n=5,6
b= "a","c"

In [ ]:
print(b)

### Multiple Inheritance

In [ ]:
A     B
|_____|
   |
   C

In [ ]:
class A:
    def feature1(self):
        print ("feature1 is working")
        
    def feature2(self):
        print ("feature2 is working")

        
        
class B:
    def feature3(self):
        print ("feature3 is working")
        
    def feature4(self):
        print ("feature4 is working")

        

class C(A,B):
    
    def feature5(self):
        print ("feature5 is working")
        
c1 = C()
b1 = B()
a1 = A()

#b1.feature1()
#b1.feature2()
b1.feature3()
b1.feature4()
b1.feature5()

### Constructors in Inheritance

In [ ]:
class A:
    def __init__(self):
        print("constructors of A")
        
    def feature1(self):
        print ("feature1 is working")
        
    def feature2(self):
        print ("feature2 is working")

        
        
class B(A):
    
    def __init__(self):
        print("constructors of B")
        super().__init__()
        
    def feature3(self):
        print ("feature3 is working")
        
    def feature4(self):
        print ("feature4 is working")

class C(B):
    
    def __init__(self):
        print("constructors of c")
        super().__init__()
        
    def feature5(self):
        print ("feature5 is working")
        
c1 = C()
c1.feature1()

In [ ]:
class A:
    def __init__(self,email,psw):
        self.a = email
        self.b = psw
        
    def feature1(self):
        print ("feature1 is working")
        
    def feature2(self):
        print ("feature2 is working")

        
        
class B(A):
    
    def __init__(self,phn):
        self.a = phn
        super().__init__()
        
    def feature3(self):
        print ("feature3 is working")
        
    def feature4(self):
        print ("feature4 is working")

In [ ]:
b1=B(134567)

In [ ]:
class A:
    def __init__(self):
        print("constructors of A")
        
    def feature1(self):
        print ("feature1 is working")
        
    def feature2(self):
        print ("feature2 is working")

        
        
class B(A):
    def __init__(self):
        print("constructors of B")
        
    def feature3(self):
        print ("feature3 is working")
        
    def feature4(self):
        print ("feature4 is working")

        
b1 = B()    
b1.feature1()
b1.feature3()

In [ ]:
class A:
    def __init__(self):
        print("constructors of A")
        
    def feature1(self):
        print ("feature1 is working")
        
    def feature2(self):
        print ("feature2 is working")

        
        
class B(A):
    
    def __init__(self):
        
        print("constructors of B")
        super().__init__()
       
    def feature3(self):
        print ("feature3 is working")
        
    def feature4(self):
        print ("feature4 is working")

b1 = B()  
b1.feature1()
b1.feature3()

### Method Resolution Order (MRO)

In [ ]:
class A:
    def __init__(self):
        print("constructors of A")
        

    def feature1(self):
        print ("feature1-A is working")
    
        
class B:
    def __init__(self):
        print("constructors of B")     
        
    def feature1(self):
        print ("feature1-B is working")
        
    def feature3(self):
        print ("feature3 is working")


class C(B,A):
    def __init__(self):
        print("constructors of C")
        super().__init__()
    def feature4(self):
        print ("feature1-C is working")
c1= C()
c1.feature1()

In [ ]:
class A:
    
    def __init__(self):
        print("constructors of A")
        
    def feature1(self):
        print ("feature1 is working")
    
        
class B:
    
    def __init__(self):
        print("constructors of B")   
   
        
    def feature2(self):
        print ("feature2 is working")
    def feature3(self):
        print ("feature3 is working")


class C(A,B):
    def __init__(self):
        print("constructors of C")
        super().__init__()
        
    def feature4(self):
        print ("feature4 is working")
        
        
c1 = C()
c1.feature3()

In [ ]:
class A:
    def __init__(self):
        print("constructors of A")
        
    def feature1(self):
        print ("feature1-A is working")
    
        
class B:
        
    def __init__(self):
        print("constructors of B")
        
    def feature1(self):
        print ("feature1-B is working")


class C(A,B):
    def __init__(self):
        print("constructors of C")
        super().__init__()
        
        
c1 = C()
c1.feature1()

### Polymorphism

          Duck Typing
          Operator Overloading
          Method Overloading 
          Method Overriding

#### Duck Typing

In [ ]:
n = 5
print(type(n))

In [ ]:
class laptop:
    
    def code(self,ide): #Itegrated Development Environment
        ide.execute()

In [3]:
class pandas:
    def execute(self):
        print("Compiling")
        print("Running")
    def code(self):
        print("code")
        print("code ran successfully")

In [ ]:
class laptop:
    def __init__(self, a,b):
        self.a=a
        self.b=b
    def execute(self):
        print("Compiling")
        print("Running")
    
    def code(self):
        print(self.a,self.b)
        print("The code ran sucessful")

lap1 = laptop("HP","i5")
lap1.execute()
lap1.code()

In [ ]:
class pandas: # Pre defined class
    def execute(self):
        print("Compiling")
        print("Running")
    def code(self):
        print("code")
        print("code ran successfully")

In [4]:
class laptop:
    def __init__(self, a,b):
        self.a=a
        self.b=b
        
    def code(self,ide):
        ide.execute()
        print(self.a,self.b)
        print("The code ran sucessful")

#ide = pandas()
       
lap1 = laptop("HP","i5")

lap1.code(pandas())
#lap2.code(ide)

Compiling
Running
HP i5
The code ran sucessful

In [6]:
class myeditor:
    def execute(self):
        print("Spell checks")
        print("convention checks")        
        print("Compiling")
        print("Running")

In [7]:
class laptop:
    def __init__(self, a,b):
        self.a=a
        self.b=b
        
    def code(self,ide):
        ide.execute()
        print(self.a,self.b)
        print("The code ran sucessful")


ide = myeditor()

lap1 = laptop("HP","i5")
lap1.code(ide)

Spell checks
convention checks
Compiling
Running
HP i5
The code ran sucessful

####           Operator Overloading

In [ ]:
a = 6
b = 4
c= 10
print(a-b)
#print(str.__add__(a,b))
print(int.__sub__(a,b))

In [ ]:
n="sreeja"
a=10
s = n+a
print(s)
print(type(n))

In [ ]:
sreeja 10

In [9]:
class students:
    def __init__(self,m1):
        self.m1 = m1        


s1 = students(66)

s2 = students(45)

Sum =s1+s2
print(Sum)

TypeError: unsupported operand type(s) for +: 'students' and 'students'

In [10]:
type(s1)

__main__.students

In [20]:
class students:
    def __init__(self,m1):
        self.m1 = m1
        
    def __add__(self,other):
        
        s3 = self.m1+other.m1-10
        
        return s3
    def __sub__(self,other):
        
        s3 = self.m1-other.m1
        return s3
        
s1 = students(65)

s2 = students(45)
s1-s2
#print(type(s1))

20

## Create a method to concatenate integer and string

In [25]:
class int_str:
    def __init__(self,m1):
        self.m1=str(m1)
        
    def __add__(self,other):
        
        print(self.m1+other.m1)
        
s1 = int_str(5)
s2 = int_str("ann")

s1+s2

5ann

#### Method Overloading

In [32]:
class students:
    
    def sum (self,a=None,b=None,c=None):
        s = a + b + c
        return s
        
s1 = students()

s1.sum(9,8)

TypeError: unsupported operand type(s) for +: 'int' and 'NoneType'

In [ ]:
class students:
    
    def sum (self,a=None,b=None,c=None):
        s = a + b + c
        return s
        
s1 = students()

print(s1.sum(5,6))

In [38]:
class students:
    
    def sum (self,a=None,b=None,c=None):
        
        if a!=None and b!=None and c!=None:
            s = a + b + c
        elif a!=None and b!=None:
            s = a + b
        else:
            s = a
            
        return s
        
s1 = students()

print(s1.sum(7))

7

 ####         Method Overriding

In [39]:
class A:
    def show(self):
        print("Contents in A")
             
s1 = A()
s1.show()

Contents in A

In [44]:
class A:
    def show(self):
        print("Contents in A")

class B(A):
    pass

s1 = B()
s1.show()

Contents in A

In [45]:
class A:
    def show(self):
        print("Contents in A")
    def show1(self):
        print("Thanks")

class B(A):
    pass

s1 = B()
s1.show1()

Thanks

In [42]:
class A:
    def show(self):
        print("Contents in A")

class B(A):
    
    def show(self):
        print("Contents in B")
    

s1 = B()
s1.show()

Contents in B

### Abstraction

In [52]:
class computer():
    def process(self):
        pass
a = computer()
a.process()

In [53]:
from abc import ABC, abstractmethod # ABC - Absrtact Base Classes

class computer(ABC):
    
    @abstractmethod
    def process(self):
        pass
    
a = computer()
a.process()

TypeError: Can't instantiate abstract class computer with abstract method process

In [57]:
from abc import ABC, abstractmethod # ABC - Absrtact Base Classes

class Animal():
    
    @abstractmethod
    def move(self):
        pass
    
    @abstractmethod
    def crawl(self): 
        pass
    
    def dis(self):
        print("Welcome")


class Human(Animal):
 
    def move(self):
        print("I can walk and run")
    


class Snake(Animal):
    def move(self):
        pass
 
    def crawl(self):
        print("I can crawl")

class Dog(Animal):
 
    def move(self):
        print("I can Jump and run")


              
R = Dog()
R.move()

I can Jump and run

## Public Protected and Private Variables

### Public 

 The members of a class that are declared public are easily accessible from any part of the program. All data members and member functions of a class are public by default.

In [87]:
class school:
     def __init__(self, name, age):
            # public data members
            self.name = name
            self.age = age
 
     # public member function     
     def display(self):

            print("Name: ", self.name)
            print("Age: ", self.age)

ob = school("Ann", 20)
ob.display()

Name:  Ann
Age:  20

In [93]:
class python(school):
    def __init__(self,name,age,location):
        super().__init__(name,age) 
        self.location=location

    def show(self):
            # accessing public data member
            print("Name: ", self.name)

            print("Age: ", self.age)
            print("Location: ", self.location)

ob = python("Ann",23,"Kochi")
#ob.show()
ob.display()

Name:  Ann
Age:  23

### Protected Members
The members of a class that are declared protected are only accessible to a class derived from it. Data members of a class are declared protected by adding a single underscore _ symbol before the data member of that class.

In [102]:
class students:
    
    def __init__(self,name,age):
        self._name = name
        self._age = age
    
    def _display(self):
        print(self._name, self._age)

In [104]:
s1= students("sreeja",25)
s1._display()

sreeja 25

In [106]:
class python(students):
    def __init__(self,name,age,location):
        super().__init__(name,age) 
        self.location=location

    def show(self):
            # accessing protected data member
            print("Name: ", self._name)
            print("Age: ", self._age)

ob = python("Ann", 20,"Kochi")
ob.show() 
ob._display()

Name:  Ann
Age:  20
Ann 20

### Private Members
The members of a class that are declared private are accessible within the class only, private access modifier is the most secure access modifier. Data members of a class are declared private by adding a double underscore __ symbol before the data member of that class.

In [122]:
class students:
    
    def __init__(self,name,age):
        self._name = name
        self.__age = age
    
    def _show(self):
        print(self._name, self.__age)

In [123]:
s1= students("sreeja",25)
s1._show()

sreeja 25

In [126]:
class python(students):
    def __init__(self,name,age,location):
        super().__init__(name,age) 
        self._location=location

    def show(self):
            # accessing private data member
            print("Name: ", self._name)

            print("Age: ", self.__age)

ob = python("Ann", 20,"Kochi")
ob.show()

Name:  Ann

AttributeError: 'python' object has no attribute '_python__age'

In [32]:
class data(python):
    def __init__(self,name,age,location):
        super().__init__(name,age) 
        self.location=location

    def show(self):
            # accessing protected data member
            print("Name: ", self._name)

            print("Age: ", self._age)

ob = python("Ann", 20,"Kochi")
ob._show()

Ann 20